

footer{
    padding: 5% 10%;
    background-color: rgb(73 94 87 / var(--tw-bg-opacity, 1));
}

.footer-grid{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 1fr;
}

.footer-img{
    width: 100%;
}

.footer-img img{
    height: 200px;
    width: 100px;
    border-radius: 0%;
}

.footer-link li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.footer-link li :hover{
    color: rgb(244 206 20 / var(--tw-text-opacity, 1));
}

.h3{
    color: white;
    margin-bottom: 40px;
}

ul{
    list-style: none;
    padding: 0%;
}

ul li{
    margin: 20px 0px;
    color: white;
    font-size: larger;
}

.social ul{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px;
}

.social ul li :hover{
    color: rgb(244 206 20 / var(--tw-text-opacity, 1));
}

@media (max-width: 910px){
    .footer-grid{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 48% 48%;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    footer{
        padding: 10% 10%;
        background-color: rgb(73 94 87 / var(--tw-bg-opacity, 1));
    }
}

@media (max-width: 360px){
    .footer-grid{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}