



.hero{
    background-color: rgb(73 94 87 / var(--tw-bg-opacity, 1));
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  white;
    padding: 0px 10%;
}

h1{
    margin-bottom: 20px;
    color: rgb(244 206 20 / var(--tw-text-opacity, 1));
}

.hero button{
    background-color: rgb(244 206 20 / var(--tw-text-opacity, 1));
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 20px 0px;
    font-size: larger;
    color: black;
}

.hero button a {
    color: black;
    text-decoration: none;
}

.flex p{
    margin: 20px 0px;
}

.fit{
    padding: 0% 20px 0px 0px;
    width: 50%;
}


.div-img{
    top: 40px;
    left: 0px;
    position: relative;
}

img{
    border-radius: 20px;
}

.section-2{
    padding: 5% 10%;
}

.order{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.online{
    display: flex;
    justify-content: end;
}

.online button{
    background-color: rgb(244 206 20 / var(--tw-text-opacity, 1));
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 20px 0px;
    font-size: larger; 
    color: black;
}

.food{
    display: flex;
    justify-content: space-between;
}

.salad{
    width: 30%;
}

.h2{
    font-size: 40px;
    font-weight: 300;
}

.sa-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.sa-2 button{
    background-color: yellow;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bolder;
    
    color: black;
}

.sa-img{
    height: 10rem;
}

.sa-img img{
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.bike{
    height: 30px;
    width: 30px;
}

.bike img{
    width: 100%;
    border-radius: 0px;
}

.food-2{
    height: 140px;
    padding: 0px 20px;
}

.food-b{
    background-color: rgb(237 239 238 / var(--tw-bg-opacity, 1));
    border-radius: 0px 0px 20px 20px;
}

.section3{
    background-color: rgb(73 94 87 / var(--tw-bg-opacity, 1));
    padding: 5% 10%;
}

.section-3{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 1fr;
}

.test{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 50px;
    font-size: x-large;
}

.testimonia {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.profile {
    text-align: center;
    padding: 10px;
}

.profile img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.section-4{
    padding: 5% 10%;
}

.about{
    display: flex;
    justify-content: space-between;
}

.about-1{
    width: 50%;
    padding-right: 20px;
}

.about-2 {
  width: 50%;
}

.andre img{
    width: 100%;
    border-radius: 0%;
}

@media (max-width: 1300px){
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color:  white;
        padding: 0px 10%;
    }

    .section-3{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 48% 48%;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }
}

@media (max-width: 868px){
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color:  white;
        padding: 0px 10%;
    }

    .food{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .salad{
        width: 80%;
        margin: 10px 0px;
    }
}

@media (max-width: 720px){
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color:  white;
        padding: 0px 5%;
    }

    .about{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-1{
        width: 100%;
        padding-right: 20px;
    }

    .about-2 {
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 600px){
    .flex{
        display: flex;
        flex-direction: column;
        padding: 10% 10%;
    }

    .div-img{
        top: 0px;
        left: 0px;
        margin-top: 10px;
        width: 100%;
        position: relative;
    }

    img{
        width: 100%;
        height: 100%;
    }

    .fit{
        padding: 0% 20px 0px 0px;
        width: 100%;
    }

    .salad{
        width: 100%;
        margin: 10px 0px;
    }
}

@media (max-width: 530px){
    .section-3{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    
}



.success{
  text-align: center;
  padding: 10% 0;
}

.success div{
  margin: 10px;
}

.success button{
  background-color: rgb(244 206 20 / var(--tw-text-opacity, 1));
}

.success button a {
  color: black;
  text-decoration: none;
}




.App {
  margin: 0 auto;
  padding: 0% 10%;
}

fieldset {
  display: flex;
  width: 90%;              
  max-width: 480px;
  padding: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  flex-direction: column;
  margin: 0 auto;
}

label {
  margin-bottom: 8px;
  text-align: left;
}

.header{
  margin: 20px 0px;
  color: black;
}

sup {
  color: red;
  top: -2px;
  font-size: 95%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

input,
select {
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 32px;
  padding: 0 8px;
}

.Field {
  position: relative;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Field-btn{
  position: relative;
  padding-bottom: 24px;
  display: flex;
  justify-content: center; 
}

.FieldError {
  position: absolute;
  bottom: 6px;
  color: red;
  font-size: 12px;
}

.Row {
  display: flex;
  flex-direction: row;
}

button {
  padding: 12px 40px;
  border-radius: 4px;
  border: none;
  background-color: rgb(244 206 20 / var(--tw-text-opacity, 1));
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  border: none;
  background-color: #747070;
  color: #c8c5c5;
  cursor: not-allowed;
}

